doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title React Redux Skeleton
    link(href='#{bundle.css ? bundle.css : ''}', rel='stylesheet')
    script.
      window.pdo=!{JSON.stringify(pdo)}
  body
    #app
    h1.title Editor to Test
    .stewie-editor
      .loader loading.....
    .title
      h1 Preview Editor
      h4 (This editor simulates save json and loading editor in runtime)
      .preview-editor loading....
    script(src='#{bundle.js}')
